/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
body {
    margin: 10px 100px 10px 100px;
}
body > header {
    height: 70px;
    background-color: #E579E6;
    margin-bottom: 15px;
}
.first-box {
    height: 280px;
    background-color: #E1D67A;
    margin-bottom: 15px;
}
.contenitore {
    height: 500px;
    background-color: #2586FF;
}
div > header {
    height: 50px;
    background-color: #ABCFE7;
    margin-bottom: 1%;
}
.left {
    height: 415px;
    width : 19%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color:  #ABCFE7; 
}
div > section {
    height: 415px;
    width: 60%;
    float: left;
    margin-bottom: 1%;
    background-color: #ABCFE7;
}
.right {
    height: 415px;
    width : 19%;
    float: right;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: #ABCFE7;  
}
.contenitore::after {
    content: "";
    display: table;
    clear: both;
}
/* footer */
footer {
    height: 40px;
    margin-top: 1%;
    background-color: #881AFE;
}

